<% provide(:title, 'About') %>
<h1>About</h1>

<h2> Background </h2>

<p>
This is my first Ruby on Rails application. Although I have little background with coding and development, I am very pleased with this project. I have recently gotten involved in the web application genre (database and development, website design, coding etc). After installing Ubuntu Server, I quickly motivated myself to learn the ropes around LAMP. Having gotten a fairly advanced mail server up and running (Postfix, MySQL, Courier, SquirrelMail, Amavasis, Clam, Spamassassin etc) I found myself wanting to create more and more web applications.
</p>

<p>
I was looking for original developer's tools--in general, something I could just go crazy with--and was going about my usual routine, browsing around Distrowatch, looking for up-and-coming Linux distrobutions, when I happened to come across the distro, "Turnkey Linux." It was on their site where I learned about about Ruby on Rails and the "beauty" that their code offers for web development. At the time, I was only interested, but after reading more about it (and becoming vaguely familiar with the terminology) I decided I would start my endeavours.  So... here I am. I am learning as I go, but I am very pleased with what I have so far.
</p>

<h2> Social Rails </h2>

<p>
This application is built on Linux with Ruby version 1.9.3.  It started out as an expiriment, and now is becoming quite a project. My goal for Social Rails is to become a fashionable, secure and well-accessible social platform. What does that mean? I am figuring that out as I go.
</p>

<p>
Having that said, my plans are elligable to change, but as of now, it offers many of the same features "Twitter" offers such as:  login/registration, user profile (basic), microposting ("tweets"), follows/followers, automatic gravatar sync, SSL (encrypted connection to ensure protected passwords and user information) and alot more is currently being developed.
</p>

<p>
It is currently being hosted on a "Heroku" server (basically just an awesome, free online database with SSL encyption offering developers secure testing of their projects) If I follow through with my hopes for Social Rails, I might host it under my own domain one day.  None-the-less, I hope you like what what's in development so far!
</p>
