<% provide(:title, 'About') %>
<h1>About</h1>

<h3> Background </h3>

<p>
Using a Linux operating for the first time quickly fed my interest in the web application genre (database and development, website design, coding etc). This led me to installing Ubuntu Server, where I was vigourously motivated to learn the ropes around LAMP  (aka LAMP Server, `Linux, Apache MySQL, PHP). Having gotten a fairly advanced mail server up and running (Postfix, MySQL, Courier, SquirrelMail, Amavasis, Clam, Spamassassin etc) I found myself wanting to create more and more web applications.

<p>
I had heard my father mentioning Ruby on Rails a few times in the past, but had brushed it off as-- just-another-neo-language trying to supersede Python, Perl, C++ or similar languages-- without really looking in-to the specifications of Ruby on Rails.  One day while browsing new Linux Distrobutions, I came across a distro named `Turnkey Linux`.  Turnkey offers all sorts of developer's bundles, one of which being Ruby on Rails.  I admit, it looked appeasing, so I decided to actually research it for a change.  I admit, it's a beautiful language and can really produce aesthetically appeasing web-sites.  I decided to install the pre-requisites and get going with rails development.  This is my first very Ruby on Rails application, and first project of this magnitude. Although I have a `limited` background involving coding and development, I am very pleased with this project so far and love learning ways to improve.
</p>

<h3> Development </h3>

<p>
This application is built on Ubuntu Linux 3.2.0-31-generic-pae kernel with Ruby version 1.9.3 - Rails version 3.2.8.  It started out as an expiriment, and now is becoming quite a project. My goal for Social Rails is to become a fashionable, secure and well-accessible social platform. What does that mean? I am figuring that out as I go.
</p>

<p>
Having that said, my plans are elligable to change, but as of now, it shares many of the same features as `Twitter`, offering:  login/registration, user profile (basic), microposting ("tweets"), follows/followers, automatic gravatar sync, SSL (encrypted connection to ensure protected passwords and user information) and alot more is currently being developed such as a more advanced user profile, private messaging, geo-location and photo/video uploads.
</p>

<p>
It is currently being hosted on a "Heroku" server (basically just an awesome, free online database with SSL encyption offering developers secure testing of their projects) If I follow through with my hopes for Social Rails, I might host it under my own domain one day.  None-the-less, I hope you like what what's in development so far!
</p>
