<% if signed_in? %>
	<div class="row-fluid">
  	<aside class="span3">
    	<section>
				<%= render 'shared/message_form' %>
			</section>
		</aside>
			<div class="span9">
				<%= render 'shared/inbox' %>
			</div>
		</div>
		<% else %>
	<%= yield %>
<% end %>
