<% provide(:title, @title) %>
<% if signed_in? %>
	<div class="row-fluid">
		<div class="span3">
			<section>
				<%= render 'shared/message_form' %>
			</section>
		</div>
		<div class="span9">
			<div class="well-header">Displaying <%= pluralize(@inbox_items.count, "private message") %></div>
			<%= render 'shared/inbox' %>
		</div>
			</div>
			<% else %>
		<%= yield flash.now[:error] = "Please signin to view your inbox." %>
<% end %>
