<% content_for :head do %>
  <% provide(:title, "Contact") %>	
<% end %>

    <div class=" navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
				<div class="container">
    			<%= render 'layouts/navigation_contact' %>
							</div>
								</div>
							</div>
						<h1>Contact</h1>
					<br/>
				<h2>
			<%= link_to "Facebook", 'https://facebook.com/naathyn/' %> | 
		<%= link_to "GitHub", 'https://github.com/naathyn/' %>
	</h2>
<h5>simple. as. that.</h5>
