<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  It's pretty basic as of now.  To use its features, sign-up.  Oh, and if you have a "Gravatar", it will automatically fetch your profile image.  Go ahead... try it out!
</p>
