<% provide(:title, 'Updates') %>

<div class=" navbar navbar-inverse navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
    	<%= render 'layouts/navigation_updates' %>
		</div>
	</div>
</div>

<%= yield flash.now[:info] = "Due to the mass amount of updates, only the important ones will be listed from now on.  Click on the link below to review ALL updates verbatim." %>
	<h2 style="text-align:center;">
		<%= link_to "Detailed Updates", "https://github.com/naathyn/Ampersand/commits/master/" %>
	</h2>
		<hr />
	<div class="row-fluid">
		<h1 style="padding-bottom:10px;margin-left:18px">Notice</h1>
			<div class="span6">
			<p>
				This page is nearly unmanageable to the mass amount of updates Ampersand is getting.  This page will probably be orphaned and turned into something more useful.  Nevertheless, while the page still exists, I encourage you to click on the link up top to view newly added features or fixes.
		</p>
	</div>
</div>
