<% provide(:title, 'Updates') %>
<div class="row-fluid">
<div class="span12">
<div class="row-fluid">
<div class="span6">
<h2>In Development<p>
<span class="label label-warning">In Development</p></span></h2>
<ul>
<li>Ajax-style replies</li>
<li>Integrated Navigation</li>
</ul>
</div>
<div class="span6">
<h2>Development On-Deck<p>
<span class="label label-important">Near Future</span></p></h2>
<ul>
<li>Re-posts</li>
<li>Private Messaging</li>
<li>Intricate User Profiles</li>
<li>Groups</li>
<li>Multimedia Uploads</li>
<li>Navigation shortcuts</li>
</ul>
</div>
</div>
</div>

<div class="row-fluid">
<div class="span12">
<h2>Developed</h2>
<div class="row-fluid">
<div class="span3">
	<h4>Compatible Layouts<p>
<span class="label label-success">Developed</span></p></h4>
	<p>
		The site now has a unique layout on all kinds of screen resolutions including iPhones, Androids and various different kinds of hand-held devices.  No need to jump to an iPhone to give it a try... simply make the size of your browser a wee-bit smaller and watch the magic fall into play.
	</p>
</div>
<div class="span3">
	<h4>@Replies<p>
<span class="label label-success">Developed</span></p></h4>
<p>
  It's taken me long enough, but I have finally figured out the "@reply" concept!  It is still very basic but I am pleased this feature is available.  
</p>

<p><b>Usage:</b>  If you wanted to reply to user:  "thatguy", you would simply write in your post "@thatguy <i>here is your reply...</i> (ofcourse inserting your own message as the reply).  
<p>This reply would appear in your <i>public</i> feed, but "thatguy's" <i>private</i> feed, vice versa.  (Much like Twitter)
</div>
<div class="span3">
<h4>User Login<p>
<span class="label label-info">Modification</span></p></h4>
<p>
As opposed to users logging in with their email address (which I found was extremely irritating) users are now able to login with their username.  This serves two purposes.  One is convenience, which was previously mentioned; and two, it gives the @replies the ability to function correctly without having to map to a user's email.  Users' emails are utilized for the sole purpose to link their Gravatars.
</div>
<div class="span3">
<h4>Gravatar<p>
<span class="label label-success">Developed</span></p></h4>
<p>
As stated before, if your email address is using a Gravatar,
Ampersand will automatically fetch your avatar and use it here on the site.  If you wish to have a Gravatar, simply go edit your profile and sign up for one.  (It takes two seconds)
</p>
</div>
</div>
</div>
</div>
