<% provide(:title, 'Updates') %>
<h1>News</h1>
	<h3>@Replies</h3>
<p>
  It's taken me long enough, but I have finally figured out the "@reply" concept!  It is still very basic but I am pleased this feature is available.  
</p>

<p><b>Usage:</b>  If you wanted to reply to user:  "cooldude", you would simply write in your post "@cooldude <i>here is your reply...</i> (ofcourse inserting your own message as the reply).  
<p>This reply would appear in your <i>public</i> feed, but "cooldude's" <i>private</i> feed, vice versa.  (Much like Twitter) <span class="label label-success">Developed</span>

<h3>Gravatar</h3>
<p>As stated before, if your email address is using a Gravatar, Ampersand will automatically fetch your avatar and use it here on the site.  If you wish to have a Gravatar, simply go edit your profile and sign up for one.  (It takes two seconds) <span class="label label-success">Developed</span>

<h3>Current Projects</h3>
<ul>
<li>Re-posts</li>
<li>Private Messaging</li>
<li>Intricate User Profiles</li>
<span class="label label-warning">In Development</span>
</ul>

<h3>Future Goals</h3>
<ul>
<li>Groups</li>
<li>Multimedia Uploads</li>
<li>Suggestions</li>
<li>A Growing Community</li>
<span class="label label-important">Wishlist</span>
</ul>
