<% provide(:title, 'Updates') %>

<%= yield flash.now[:info] = "Due to the mass ammount of updates, only the important ones will be listed from now on.  Click on the link below to review ALL updates verbatim." %>
<h2 style="text-align:center;"><%= link_to "Detailed Updates", "https://github.com/naathyn/Ampersand/commits/master/" %></h2>
<hr />
<div class="row-fluid">
<h1 style="text-align:center;padding-bottom:10px;padding-top:10px;">Updates</h1>
<div class="span12">
<div class="span6">

	<h4>Better Profile<p>
<span class="label label-success">New</span></p></h4><br />
	<p>
		While still developing, I am quit pleased with the new profile layout.  Members are now able to display their full name along-side their username, as well as write out a small "about me" and display their location if desired.  All of this is now in the user's public profile.
	</p>
</div>
<div class="span6">
	<h4>Feed Structure and Design
<p><span class="label label-success">New</span></p></h4><br />
	<p>
  The new feed has many small additions.  First would be the obvious -- the user's private feed design.  The user's feed now has a nice, sleek look.  While I continue to add touch-ups here and there, you can expect the design to look as is.  I have many ideas for multiple types of feed items, which you can read about below.
</p>
</div>
</div>
</div>
<hr />
<div class="row-fluid">
<h1 style="text-align:center;padding-bottom:10px;padding-top:10px;">In Development</h1>
<div class="span12">
<ul>
<li><b>Groups + Feed</b> Shortcut: &[groupname] Will be able to use additional shortcuts within groups.  Example: &groupname @username [message]  Will only show in group feed.</li><br/>
<li><b>Globals (hash tags)</b> Example: [share content #[word] more content #[word] etc].  The word will be a link.  When clicked it will diplay every share containing #[word].</li><br/>
<li><b>Multimedia Uploads</b></li><br/>
<li><b>Private Messaging Feed<p>
<span class="label label-success">Developed</span></p></b> Shortcut: ![username] Example: !username [message] This will be a type of feed, only no one will be able to see !messages except the sender and receiver.</li><br/>
<li><b>@reply Feed<p>
<span class="label label-success">Developed</span></p></b> showing only @replies as opposed to the current feed showing user's shares along-side @replies. Read more about @replies below.</li>
</ul></div>
</div>
<hr />
<div class="row-fluid">
<h1 style="text-align:center;padding-bottom:10px;padding-top:10px;">Archived Developments</h1>
<div class="span12">
<div class="span3">
	<h4>Compatible Layouts</h4>
	<p>
		The site now has a unique layout on all kinds of screen resolutions including iPhones, Androids and various different kinds of hand-held devices.  No need to jump to an iPhone to give it a try... simply make the size of your browser a wee-bit smaller and watch the magic fall into play.
	</p>
</div>
<div class="span3">
	<h4>@replies</h4>
  It's taken me long enough, but I have finally figured out the "@reply" concept!  It is still very basic but I am pleased this feature is available.  
</p>

<p><b>Usage:</b>  If you wanted to reply to user:  "thatguy", you would simply write in your post "@thatguy <i>here is your reply...</i> (ofcourse inserting your own message as the reply).  
<p>This reply would appear in your <i>public</i> feed, but "thatguy's" <i>private</i> feed, vice versa.
</div>
<div class="span3">
<h4>User Login</h4>
<p>
As opposed to users logging in with their email address (which I found was extremely irritating) users are now able to login with their username.  This serves two purposes.  One is convenience, which was previously mentioned; and two, it gives the @replies the ability to function correctly without having to map to a user's email.  Users' emails are utilized for the sole purpose to link their Gravatars.
</p>
</div>
<div class="span3">
<h4>Gravatar</h4>
<p>
As stated before, if your email address is using a Gravatar,
Ampersand will automatically fetch your avatar and use it here on the site.  If you wish to have a Gravatar, simply go edit your profile and sign up for one.  (It takes two seconds)
</p>
</div></div></div>
