<% provide(:title, 'Updates') %>
<h1 style="text-align:center;padding-bottom:10px;padding-top:10px;">Updates loading...</h1>
<script src='http://gitlive.com/githublive.min.js'></script>
<script>var GithubPush = {num_old:5,nodes:['naathyn/Ampersand']}</script>
<div id='commits'></div>
