<% provide(:title, 'Updates') %>
<h1>News</h1>
	<h3>@Replies</h3>
<p>
  It's taken me long enough, but I have finally figured out the "@reply" concept!  It is still very basic but I am pleased this feature is available.  
</p>

<p><b>Usage:</b>  If you wanted to reply to user:  "cooldude", you would simply write in your post "@thatguy <i>here is your reply...</i> (ofcourse inserting your own message as the reply).  
<p>This reply would appear in your <i>public</i> feed, but "thatguy's" <i>private</i> feed, vice versa.  (Much like Twitter) <span class="label label-success">Developed</span>

<h3>User Login</h3>
<p>
As opposed to users logging in with their email address (which I found was extremely irritating) users are now able to login with their username.  This servers two purposes.  One is convenience, which was previously mentioned; and two, it gives the @replies the ability to function correctly without having to map to a user's email.  Users' emails are utilized for the sole purpose to link their Gravatars. <span class="label label-info">Modification</span>
	

<h3>Gravatar</h3>
<p>
As stated before, if your email address is using a Gravatar,
Ampersand will automatically fetch your avatar and use it here on the site.  If you wish to have a Gravatar, simply go edit your profile and sign up for one.  (It takes two seconds) <span class="label label-success">Developed</span>
</p>

<h3>Current Projects</h3>
<ul>
<li>Re-posts</li>
<li>Private Messaging</li>
<li>Intricate User Profiles</li>
<span class="label label-warning">In Development</span>
</ul>

<h3>Future Goals</h3>
<ul>
<li>Groups</li>
<li>Multimedia Uploads</li>
<li>Suggestions</li>
<li>A Growing Community</li>
<span class="label label-important">Wishlist</span>
</ul>
