<% unless item.likes.empty? %>
  <ul class="inline-share-stats share-stats likes"
      data-original-title="<% item.fans.each do |user| %>
                                <li><%= user.name %></li>
                                <% end %>">
<% else %>
  <ul class="inline-share-stats share-stats">
<% end %>

  <li>
    <a>
      <i class="icon-heart"></i>
      <strong id="likes<%= item.id %>">
        <%= item.fan_likes_count %>
      </strong>
    </a>
  </li>

</ul>
