<% unless item.likes.empty? %>
  <ul class="inline-share-stats share-stats hearts likes"
      data-original-title=" <li>
                              <%= render(partial: ('feeds/shared/fan_likes'),
                                  locals: { item: item }) %>
                            </li>">

    <%= render(partial: ("feeds/shared/footer_stats"), 
        locals: { item: item }) %>

  </ul>
<% else %>

  <ul class="inline-share-stats share-stats">
    <%= render(partial: ("feeds/shared/footer_stats"), 
        locals: { item: item }) %>
  </ul>
<% end %>

