<% if item.likes.any? %>

  <ul class="inline-share-stats share-stats hearts likes"
      data-original-title="<% item.fans.each do |user| %>
                                <li><%= user.name %></li>
                                              <% end %>">

<% else %>
  <ul class="inline-share-stats share-stats">
<% end %>

    <li>
      <a><i class="icon-heart"></i>
        <strong id="likes<%= item.id %>">
          <%= item.fan_likes %>
        </strong>
      </a>
    </li>

  </ul>

<%= link_to "Detach", likes_micropost_path(item), { remote: true,
    'data-toggle' =>"modal", 'data-target' => "#modal-window",
        class: "shown detach" } %>
