<% unless item.likes.empty? %>
  <ul class="inline-share-stats share-stats hearts likes"
      data-original-title=" <ol>
                              <% item.fans.each do |user| %>
                                <li><%= user.name %></li>
                              <% end %>
                            </ol>">
<% else %>
  <ul class="inline-share-stats share-stats">
<% end %>
    <%= render(partial: ("feeds/shared/footer_stats"), 
        locals: { item: item }) %>
  </ul>

