<li id="like_form">
  <%= form_for(current_user.opinions.find_by_like_id(item),
          html: { method: :delete },
        remote: true) do |f| %>
      <i class="icon-heart"></i>
    <%= f.submit "Unlike", class: "btn-link shown" %>
  <% end %>
</li>
