<li>
  <span class="content"><%= reply.content %></span>
  <span class="timestamp">
    Reply posted <%= time_ago_in_words(reply.created_at) %> ago.
  </span>
  <% if current_user?(reply.user) %>
    <%= link_to "delete", reply, method: :delete,
                                     data: { confirm: 'Are you sure you want to delete your reply?' },
                                     title: reply.content %>
  <% end %>
</li>
