<ul class="blog-actions">
  <li>
    <a href="<%= blog_path(blog) %>" data-method="delete" 
        data-confirm="Are you sure you want to remove <%= blog.title %>?" 
        title="Delete <%= blog.title %>">
      <i class="icon-remove" style="vertical-align:-2px;"></i>
    </a>
  </li>
</ul>
