<aside class="span4 captcha-sec" style="margin-top:1.5em">
  <% if @captchas.any? %>
      <ul class="captcha">
        <%= render  @captchas %>
      </ul>
        <%= will_paginate @captchas %>
      <% else %>
    <h2 class="lead"><%= link_to "Start Your Captcha's", captchas_path %></h2>
  <% end %>
</aside>
