  <p class="lead">A shorter and sweeter status</p>

    <p>
      It goes like this: You can <strong id="cp"><i>Captcha</i></strong> anything you'd
      like from quotes, favourites movies, what you did today, your current mood, 
      what the weather's like, all the way to some funny thing your cat just did ten
      seconds ago. 

      One <strong id="cp"><i>Captcha</i></strong> will be chosen at random and
      displayed as a comment bubble when a someone hovers over your gravatar in the
      feeds. Remember to fill them up, because everytime the page reloads, your
      captchas do the same!
    </p>

      <p class="lead">Captcha' double your colour</p>

    <p>
      Just as one wants to be socially defined in person, he wishes the same for
      himself in his online community. I see it like this: When it comes to being
      social, the more interactivity a group can cook up, the more wholesome the
      environment. 

      Notice I say, <i>inter</i>activity.  Yes, while activity is still very important, 
      I feel so often people get caught up in life's <i>activities</i>, that they
       forget the importance of intrapersonal... interactivities. 

      Ok I went too far. At any rate, loosen up a bit, 

        <strong><i id="cp">Captcha</strong> the moment</i>, 

      and please yourself in order to please others... please?
    </p>
