<div class="page-fade">
  <p class="lead" style="margin-bottom: .5em;">A shorter and sweeter status.</p>
  <p>
    It goes like this: You can <strong id="cp"><i>Captcha'</i></strong> anything you'd
    like from quotes, favourite movies, what you did today, your current mood,
    what the weather's like, all the way to something funny your cat did ten
    seconds ago.
  </p>

  <p>
    Your <strong id="cp"><i>Captcha's</i></strong> will be selected at random
    and displayed as a comment bubble when we hover over your Gravatar in the feeds.
    Remember to fill them up, because every time we see your photo in the feeds,
    we see your <strong><i id="cp">Captcha's</i></strong> as well!
  </p>

  <p class="lead" style="margin-bottom: .5em;">Captcha' double your colour.</p>
  <p>
    Just as one wants to be socially defined in person, he wishes the same for
    himself in his online community. I see it like this: When it comes to being
    social, the more interactivity a group can cook up, the more wholesome the
    environment.
  </p>

  <p>
    Notice I say, <i>inter</i>activity. While activity is valued,
    Sometimes I feel as if we get so caught up in life's <i>activities</i>, that we
    forget to treat ourselves.
  </p>

  <p>
    At any rate, loosen up a bit,
      <strong><i id="cp">Captcha'</strong> the moment</i>,
    you might be surprised where that moment takes you.
  </p>
</div>
