<aside class="span8 captchaside">

  <p class="lead" style="margin-bottom: .5em;margin-top:1em">Like a Camera</p>

    <p>
      <span class="label label-info">Heads up!</span>.
    </p>
      
    <p>
      <strong id="cp"><i>Captchas</i></strong> located
      here are mostly for organization, not practicality.
      If you are wanting to dive head first into this new feature, 
      simply migrate on over to your own, <strong id="cp"><i>Captcha</i></strong> index.
    </p>

  <h2 class="lead"><%= link_to "Start Captcha'n", captchas_path %></h2>

</aside>

<%= render 'captchas/about_some' %>
