<div class="row-fluid">
  <aside class="span7" style="float:right;">
    <div class="container-fluid">
      <%= render 'captchas/about' %>
    </div>
  </aside>

  <aside class="span5" style="float:left;">
    <%= render 'captchas/form' %>
      <%= will_paginate @captchas %>
    <ul class="captcha">
      <%= render @captchas %>
    </ul>
  </aside>
</div>
