<% content_for :head do %>
  <% provide(:title, "Captcha' The Moment") %>
<% end %>

  <ul class="breadcrumb">
    <li><%= link_to "Home", root_path %> 
    <span class="divider">/</span></li>

    <li class="active">Captchas</li>
  </ul>

  <% if @captchas.any? %>
    <%= render 'some' %>
  <% else %>
    <%= render 'none' %>
<% end %>
