<% content_for :head do %>
  <% provide(:title, "Captcha The Moment") %>
<% end %>

  <ul class="captchas breadcrumb">
    <li><%= link_to "Home", :root %> 
    <span class="divider">/</span></li>
    <li><%= link_to current_user.realname, current_user %> 
    <span class="divider">/</span></li>

    <li class="active">Captchas</li>
  </ul>

  <% if @captchas.any? %>
    <%= render 'captchas/some' %>
  <% else %>
    <%= render 'captchas/none' %>
  <% end %>
