<% @messages.each do |message| %>

  <div class="room">
    <%= gravatar_for(message.user, size: 38) %>
      <span class="timestamp"><%= time_ago_in_words(message.created_at) %> ago</span>
      <span class="user">@<%= message.user.name %>:</span>
      <p><%= auto_link(message.content) %></p>
  </div>

<hr />
<% end %>
