<% if @inbox_items.any? %>

  <div class="well-header">
    Displaying <%= pluralize(@inbox_items.count, "private message") %>
    </div>

      <% @inbox_items.each do |inbox_item| %>
        <%= render :partial => 'feeds/inbox_item', :object => inbox_item %>
      <% end %>

      <div class="well-bottom">
        <a href="/"><i class="icon-home"></i></a>
      </div>

        <%= will_paginate @inbox_items %>

    <% else %>

  <%= yield flash.now[:info] = "Your inbox seems to be empty.  Send one of your followers a private message!" %>

<% end %>
