<% unless @microposts.empty? %>

  <%= render partial: 'feeds/share_item', collection: @microposts, as: :item %>

    <div class="well-bottom">
      <a href="#" alt="Top"><i class="icon-arrow-up"></i></a>
    </div>

  <%= will_paginate @microposts %>

<% end %>
