<% if @microposts.any? %>

  <% @microposts.each do |a| %>
    <%= render partial: 'feeds/share_item', object: a, as: "item" %>
  <% end %>

    <div class="well-bottom" style="width:815px;margin-left:0;">
      <a href="#" alt="Top"><i class="icon-arrow-up"></i></a>
    </div>

  <%= will_paginate @microposts %>

<% end %>
