<% if @profile_items.any? %>

  <%= will_paginate @profile_items %>

  <div class="well-header"> </div>

    <% @profile_items.each do |profile_item| %>
      <%= render partial: 'feeds/share_item', 
      :object => profile_item, :as => "item" %>
    <% end %>

    <div class="well-bottom">
      <a href="#" alt="Top"><i class="icon-arrow-up"></i></a>
    </div>

  <%= will_paginate @profile_items %>

<% end %>
