<% if @replies.any? %>

  <% @replies.each do |a| %>
    <%= render :partial => 'feeds/share_item', 
    :object => a, :as => "item" %>
  <% end %>

    <div class="well-bottom">
      <a href="#" alt="Top"><i class="icon-arrow-up"></i></a>
    </div>

  <%= will_paginate @replies %>

<% end %>
