<% if @replies.any? %>

  <% @replies.each do |reply| %>
    <%= render partial: 'feeds/share_item', object: reply, as: "item" %>

  <% end %>

    <div class="well-bottom" style="width:815px;margin-left:0;">
      <a href="#" alt="Top"><i class="icon-arrow-up"></i></a>
    </div>

  <%= will_paginate @replies %>

<% end %>
