<% if @shares.any? %>

  <% @shares.each do |a| %>
    <%= render :partial => 'feeds/share_item', object: a, as: "item" %>
      <% end %>

      <div class="well-bottom">
        <a href="#" alt="Top"><i class="icon-arrow-up"></i></a>
          </div>

        <%= will_paginate @shares %>
      <%= render 'microposts/modal' %>

    <% else %>

  <%= yield flash.now[:info] = "Your feed looks kinda dull.  How about following a few members or sharing some content to fill it up!" %>

<% end %>
