<% if @share_items.any? %>

  <% @share_items.each do |share_item| %>
    <%= render :partial => 'feeds/share_item', :object => share_item %>
      <% end %>

      <div class="well-bottom">
        <a href="#" alt="Top"><i class="icon-arrow-up"></i></a>
          </div>

        <%= will_paginate @share_items %>
      <%= render 'microposts/modal' %>

    <% else %>

  <%= yield flash.now[:info] = "Your feed looks kinda dull.  How about following a few members or sharing some content to fill it up!" %>

<% end %>
