<aside class="page-fade span3">
  <legend> Popular Tags </legend>
  <div id="tags">
    <% Tag.all.each do |tag| %>
      <ol>
        <i class="icon-tags"></i>
        <%= link_to "#{tag.name} (#{tag.blogs.count})", tag_path(tag) %>
      </ol>
    <% end %>
  </div>
</aside>
