<aside class="span3">
  <legend> Popular Tags </legend>
  <div class="page-fade" id="tags">
    <% Tag.all.each do |tag| %>
      <ol>
        <i class="icon-tags"></i>
        <%= link_to "#{tag.name} (#{tag.blogs.count})", tag_path(tag) %>
      </ol>
    <% end %>
  </div>
</aside>
