<div id="tags">
  <legend> Tags </legend>
  <% @user.taggings.each do |tag| %>
    <ol>
      <i class="icon-tags"> </i>
      <%= link_to "#{tag.name} (#{tag.blogs.count})", tag_path(tag) %>
    </ol>
  <% end %>
</div>
