<li>
  <span class="user"><%= link_to gravatar_for(user), user %></span>
  <span class="username"><%= link_to user.realname, user %></span>
  <span class="username_modal"><small>@</small><%= user.name %></span>
</li>
