<% provide(:title, 'Members') %>
<h2 style="padding-bottom:10px;"><%= pluralize(@users.count, "member") %> and growing</h2>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>
