<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<ul class="breadcrumb page-fade">
  <li> <%= link_to "Home", :root %> <span class="divider">/</span> </li>
  <li class="active"> <%= @title %> </li>
</ul>

<%= render 'form' %>
