<% provide(:title, @user.realname) %>
	<div class="profile">
		<div class="profile-header">
			<div class="row-fluid">
				<% if signed_in? %>
					<%= render 'shared/profile_stats' %>
				</div></div></div>
			<%= render 'shared/atreply' %>
		<%= render 'follow_form' if signed_in? %>
	<%= render 'shared/profile' %>
<% end %>
