<% content_for :head do %>
  <% provide(:title, @user.realname) %>
<% end %>

<div class="profile">
  <div class="profile-header">
    <div class="row-fluid">
      <%= render 'shared/profile_stats' %>
      </div></div></div>
    <%= render 'feeds/atreply' %>
  <%= render 'follow_form' %>
<%= render 'feeds/profile' %>
