<div class="offset1">
  <div class="photo tapethree">
    <%= gravatar_for(@user, size: 195) %>
  </div>
</div>

<p class="center bio tags" style="padding:25px 0 10px;"> <%= @user.bio %> </p>

<% if current_user?(@user) %>
        <%= link_to "Post New Entry", :new_blog,
              class: "btn btn-large btn-block btn-primary" %>
<% else %>
  <p class="location"> <i class="icon-map-marker"> </i> <%= @user.known_location %> </p>
<% end %>
<hr class="line">
