<% @user ||= current_user %>

<div class="side-content">
<%= gravatar_for @user, size: 32 %>
	<h4 class="profile-name">
		<%= @user.realname %>
	</h4>
	<small class="profile-anchor">
		these are who follow me
	</small>
</div>
