<% if @inbox_items.any? %>
	<div class="well-header">Displaying <%= @inbox_items.count %> private messages.</div>
  <ol class="microposts">
    <%= render partial: 'shared/inbox_item', collection: @inbox_items %>
  </ol>
  	<%= will_paginate @inbox_items %>
		<div class="well-bottom" style="text-align:right;"><%= link_to "Return to Feed", root_path %>
	</div>
<% end %>
