<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains an error.  Hit back on your browser, check the syntax of your private message and try again.
    </div>
  </div>
<% end %>
