<div class="well-header" style="margin-top:10px;"><%= pluralize(@user.profile.count, "share") %> by <%= @user.name %></div>
	<% if @profile_items.any? %>
		<ol class="microposts">
			<%= render partial: 'shared/profile_item', collection: @profile_items %>
			</ol>
		<div class="well-bottom" style="margin-bottom:15px;"></div>
	<%= will_paginate @profile_items %>
<% end %>
