<form action="/microposts" class="new_micropost" id="new_micropost" method="post">
	<div class="form">
	<textarea id="micropost_content" name="micropost[content]">@<%= feed_item.user.name %> </textarea>
</div>
  <input class="btn btn-small" name="commit" value="Reply" type="submit">
</form>
