
<span class="accordion-heading">
<a class="accordion-toggle" data-toggle="collapse" data-parent="#feed_item" href="#collapseOne">
Reply
</a>
</div>
<div id="collapseOne" class="accordion-body collapse in">
<div class="accordion-inner">
<%= render 'shared/reply' %>
</div>
</div>


