<div class="side-module-share">
<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, rows: "2", placeholder: "Speak up, the world needs listeners..." %>
  </div>
  <%= f.submit "Share", class: "btn btn-primary", style: "padding-left:10px;" %>
<% end %>
</div>
