<div class="share-box share-user">
	<div class="share-box-share">

		<form action="/microposts" class="new_micropost" id="new_micropost" method="post">
			<textarea "micropost_content" name="micropost[content]" dir="ltr" style="width: 258px; height: 75px; overflow: hidden; padding-bottom: 5px;" class="twitter-anywhere-tweet-box-editor"></textarea>
			<input name="authenticity_token" type="hidden" value=$<%= csrf_meta_tags %>
		<input class="btn-small btn-primary" name="commit" value="Reply" type="submit"></form>

		</div>
	</div>
</div>
