<legend> Popular Tags </legend>
<ol class="page-fade" id="tags">
  <% @tags.each do |tag| %>
    <li id="<%= tag.id %>"><%= icon_for(tag) %>
      <%= link_to "#{tag.name} (#{tag.tagging_count})", tag_path(tag) %>
    </li>
  <% end %>
</ol>
<div class="pagination pagination-mini">
  <%= will_paginate @tags unless @tags.empty? %>
</div>
