<a href="<%= user_path(current_user) %>" style="text-decoration:none;color:#454545;">
<%= gravatar_for current_user, size: 65 %>
<h4 style="margin-top:0;padding-top:0;">
<%= current_user.realname %>
</h4>
<span>
<small>
view my profile page
</small>
</span>
</a>
