<li>
  <i class="icon-remove"></i>
    <%= link_to "Delete", @micropost, method: :delete, 
				data: { confirm: "Are you sure you want to delete this?" }, 
				style: "vertical-align:4px;", title: @micropost.content %>
</li>
