<ul class="inline-share-stats share-stats">
  <%= render(partial: ("feeds/shared/footer_stats"),
      locals: { item: @micropost }) %>
</ul>

<ul class="users_modal">
  <li id="fan_of_<%= @micropost.id %>">
    <% @microposts.each do |fan| %>
      <%= link_to(gravatar_for(fan, size: 38), fan) %>
    <% end %>
  </li>
</ul>
