<ul class="inline-share-stats share-stats">
  <li>
    <a>
      <i class="icon-heart"></i>
      <strong id="likes<%= @micropost.id %>">
        <%= @micropost.fan_likes_count %>
      </strong>
    </a>
  </li>
</ul>
<ul class="users_modal">
  <li id="fan_of_<%= @micropost.id %>">
    <% @micropost.fans.each do |fan| %>
      <%= link_to gravatar_for(fan, size: 38), fan %>
    <% end %>
  </li>
</ul>
