<div id="modal-window" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="likes" aria-hidden="false">

  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">Loading...</h3>
      </div>

      <div class="modal-body">
        </div> <!-- end share_content -->

        <div class="modal-body" id="likes<%= @micropost.id %>">
          <div class="progress progress-striped active">
            <div class="bar" style="width:75%;"></div>
          </div>
        </div> <!-- end likes -->

      <div class="modal-footer">
    </div>

  </div> <!-- end modal-content -->
</div>
