<% if @microposts.any? %>
  <ul class="users_modal">
    <% @microposts.each do |user| %>
      <li id="<%= user.name %>">
        <%= link_to gravatar_for(user, size: 38), user %>
        <span class="user"><%= link_to user.realname, user %></span>
        <span class="username_modal"><small>@<%= user.name %></small></span>
      </li>
    <% end %>
  </ul>
<% end %>
