<% content_for :head do %>
  <% provide(:title, @title) %>
<% end %>

<ul class="pager">
  <%= render 'pager' %>
</ul>

<div class="page-fade photo tapetwo tapethree microposts-photo">
  <div class="microposts-profile">
    <div id="m_profile" class="profile-header microposts-header">
      <%= render 'permalink_content' %>
    </div> <!-- microposts-header -->
  </div> <!-- microposts-profile -->
</div><!-- page-fade -->
