@import "mixins";

a {
  color: rgb(4, 156, 219);
    &:hover {
    padding: 1px;
    background-color: rgb(4, 156, 219);
    color: white;
    text-decoration: none;
    text-shadow: 0px 0px 1px $grayLarge;
    border-radius: 3px;
  }
}

a.close:hover {
  background: none;
  color: black;
  padding: 8px 14px;
  text-shadow: 0px 0px 1px white;
}

#cp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  background-color: $wellGray;
}

.captchaside {
  padding-right: 20px;
  float: right;
  width: 420px;
  p {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 20px;
  }
}

.captcha {
  overflow-y: auto;
  max-height: 380px;
}

.captcha li {
  line-height: 21px;
  padding: 1px;
  border: none;
  &:first-child {
    background-color: $innerBody;
    margin-top: 10px;
  }
  &:last-child {
    background-color: $innerBody;
    border-bottom: none;
  }
}

.captcha p {
  margin: 0;
}

.captcha-sec {
  float: left;
}

.captcha-form {

}

.captcha-form textarea {
  width: 280px;
  height: 81px !important;
  @include inline-container;
}

#captcha-content {
  font-size: 15px;
}

#captcha-delete {
  margin-bottom: 15px;
  border: none;
  padding-bottom: 3px;
  padding-left: 0px;
  background-color: $innerBody;
  a {
    font-size: 13px;
  }
}
