$linkColor: #4081A6;
$linkColorHover: darken($linkColor, 10%);

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
@import "bootstrap";
@import "mixins";

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  @include box-sizing(border-box);
}

// global configurations

html {
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: $outterBody;
  color: lighten($textColor, 5%);
  background-image: url(image_path('bg.png'));
  font-family: 'Lato', "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  padding-top: 60px;
}

img {
  @include imageRendering;
}

a, strong, small, .btn-link, .caret {
  @include transitions;
  &:hover {
  text-decoration: none;
  }
}

input,
textarea,
select,
.uneditable-input {
  font-family: 'Lato', "Helvetica Neue", Arial, sans-serif;
  border: 1px solid $inputBorder;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 10px;
  display: inline-block;
  @include forms;
}

textarea {
  resize: none;
}

section {
  overflow: auto;
}

a:focus {
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: inherit;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
}

h2 small {
  font-size: 12px;
  font-weight: normal;
  color: $statsGray;
}

h3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
}

h4 {
  font-size: 12px;
  line-height: 18px;
}

h5,
h6 {
  font-size: 11px;
}

p {
  margin: 0px 0px 10px;
}

small {
  font-size: 12px;
}

ul,
ol,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

footer {
  clear: both;
  margin: 0px 5%;
  min-width: 727px;
  padding: 1em;
  border: 1px solid $userBorder;
  color: $grayLight;
  text-shadow: 0px 1px 1px $white;
  @include footer;
}

footer .container {
  width: auto;
  a {
    color: $linkColorHover;
    &:hover {
      color: $linkColor;
    }
  }
}

aside {
  section {
    border-top: 1px solid $border;
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
  }
}

// dynamic features

.page-fade {
}

.page-fade.faade,
.no-js .page-fade {
}

.blogging {
  background-color: $outterBody;
  background-image: url(image_path('blog.png'));
}

// page layout

.page-wrapper {
  background-color: $innerBody;
  background-image: url(image_path('wrapper.png'));
  border: 1px solid $userBorder;
  text-shadow: 0px 1px 0px $white;
  border-bottom-width: 0;
  min-height: 100%;
  min-width: 727px;
  margin: -1.4em 5% auto;
  padding: 1.5em 1em 2em;
}

.navbar-inverse {
  @include navbar;
}

.navbar-inner {
  border: 1px solid $textGray;
}

.navbar-inverse .navbar-inner,
.navbar-inner .container-fluid {
  background-image: url(image_path('navbar.png'));
}

.navbar-inner .container-fluid {
  padding-left: 5%;
  padding-right: 5%;
  min-width: 538px;
}

.navbar
.navigation li a {
  letter-spacing: 1px;
}

.navbar .gravatar {
  @include hero;
}

.center {
  text-align: center;
}

.tooltip {
  text-shadow: 0px 0px 1px $grayDark;
}

#close_home {
  padding: 6px 15px;
}

.no-js #fat-menu {
  display: none;
}

// pages#home page for non-signed in users

.hero-unit {
  padding: 30px;
  background: transparent;
  @include hero;
  h1 {
    letter-spacing: -2px;
    font-size: 90px;
  }
  h3 {
    font-size: 30px;
    letter-spacing: 3px;
  }
  .btn {
  margin-top: 1em;
  }
}

.pull-right form {
  margin-bottom: 0;
  padding-top: 1px;
}

// mini-profile module

.side-module {
  border: 1px solid $moduleBorder;
  @include modules;
  @include shadows;
}

.share-anchor {
  display: block;
  text-decoration: none;
  color: $textGrayLight;
  cursor: pointer;
}

.profile-anchor {
  color: $grayLight;
  padding-top: 1px;
  font-size: 11px;
  margin-left: 1px;
}

.share-anchor:hover {
  text-decoration: none;
  color: $textGrayLight;
}

.item-anchor,
.item-anchor:hover {
  color: $textGray;
  text-decoration: none;
}

.side-module-share {
  padding: 10px 10px 0px 10px;
  background-color: $outterBody;
  border-top: 1px solid $moduleBorder;
  @include modules-bot;
}

.side-module-share form {
  line-height: 18px;
  margin-bottom: 0;
}

.side-module-share form.active textarea,
.no-js .side-module-share form textarea {
  height: 78px !important;
  color: $textGrayLight;
  font-size: 14px;
}

.side-module-share form.active input,
.no-js .side-module-share form input {
  display: block;
  margin-bottom: 7px;
  margin-top: -1px;
}

.side-module-share textarea {
  color: $textGrayLighter;
  font-size: 13px;
  height: 34px !important;
  padding: 6px 8px 0;
  @include inline-container;
}

.mini-profile {
  font-size: 12px;
  margin-bottom: 45px;
  line-height: 16px;
}

.side-content {
  padding: 12px 0px 0 12px;
}

.side-menu .stats {
  background: none;
}

.profile-name {
  font-size: 14px;
}

.share-anchor:hover .profile-anchor {
  color: $linkColor;
}

.side-module-share:hover {
  background-color: $moduleGray;
}

.side-module-share form input {
  display: none;
}

// user stats with following, shares, etc

.stats,
.share-stats {
  padding-left: 12px;
  background: none;
  overflow: auto;
  a {
    font-size: 11px;
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    line-height: 16px;
    text-transform: uppercase;
    &:first-child {
      padding-left: 0;
      padding-right: 10px;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $linkColor;
    }
  }
  strong {
    display: block;
    color: $textGray;
    font-size: 14px;
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  @include gravatars;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  background: transparent;
  .gravatar {
    margin: 1px 1px;
  }
}

.user {
  font-weight: bold;
}

.username {
  font-size: 13px;
  color: $grayLight;
  font-weight: normal;
}

.timestamp,
.blog-timestamp {
  font-size: 13px;
  color: $timestamp;
  float: right;
  font-weight: normal;
}

.blog-timestamp {
  font-size: 15px;
}

.users {
  margin: 0px -14px;
  li {
    overflow: auto;
    padding: 10px 14px;
    border-top: 1px solid $userBorder;
    &:last-child {
      border-bottom: 1px solid $userBorder;
    }
  }
}

// opaque lists

.touch ul.users-follow > li,
.touch .blogs li { opacity: 1; }

ol .blogs {
  opacity: 0.9;
  @include transitions;
  &:hover li {
    opacity: 1.0;
  }
}

ul .users-follow li:hover {
  opacity: 1;
}

.users-follow li,
.blogs li {
  @include transitions;
  overflow: auto;
  padding: 10px 14px;
  padding-left: 0px;
  border-top: 1px solid $userBorder;
  opacity: .9;
  &:first-child {
    border-top: none;
  }
}

.users li:hover {
  background-color: $wellGray;
}

.users-follow {
  margin: 0px;
  padding-left: 12px;
}

.users-follow li:hover,
.blogs li:hover {
  opacity: 100;
}

.stats a:hover strong {
  color: $linkColor;
}

// feeds items

.well-header,
.well-bottom {
  border: 1px solid $moduleBorder;
  color: $textGrayLight;
  font-weight: bold;
  text-align: right;
  min-height: 17px;
  padding: 8px;
}

.well-header {
  @include well-header;
}

.well-bottom {
  border-top-width: 0;
  @include well-bottom;
}

.well,
.well-body {
  cursor: pointer;
  background-color: $innerBody;
  border-top-width: 0;
  border-bottom: 1px solid $moduleBorder;
  margin: 0;
  padding: 12px;
  @include well;
}

.well-inner-header,
.modal_header {
  line-height: 10px;
  margin-bottom: 4px;
}

.well-inner .content,
.modal_content {
  display: block;
  line-height: 19px;
  margin-left: 58px;
}

.well-footer {
  font-size: 13px;
  margin-left: 58px;
  margin-bottom: -12px;
}

.no-js .well-footer {
  display: none;
}

.well-footer form {
  display: inline-block;
  margin-bottom: -6px;
}

.well:hover {
  background-color: $wellGray;
}

.well:hover .timestamp,
.modal-body:hover .timestamp,
.well:hover .well-footer a,
.modal-body:hover .well-footer a,
.modal-body:hover .btn-link,
.well:hover .btn-link {
  color: $linkColor;
}

.well-inner:hover strong {
  color: $red;
}

#naathyn a {
  color: $green;
  &:hover {
    color: darken($green, 15%);
  }
}

.well:hover .well-footer li,
.well:hover .well-footer-blog li,
.modal-body:hover .well-footer li, {
  opacity: 100;
}

// feed item hover links

.shown {
  cursor: pointer;
  color: $grayLight;
  vertical-align: 5px;
}

.well-footer .collapse {
  padding-left: 10px;
}

.share-actions {
  display: inline-block;
}

.no-js .share-actions {
  display: none;
}

.share-actions a {
  display: inline;
}

.share-actions li {
  display: inline-block;
  opacity: 0;
}

.share-actions .btn-link {
  vertical-align: 5px;
  padding: 0;
  font-size: 13px;
  &:hover {
    text-decoration: none;
  }
}

// feed items likes

.share-stats {
  float: right;
  overflow: hidden;
}

.share-stats a {
  border-left: none;
  padding-left: 0px;
  &:first-child {
    border-left: 1px solid $grayLighter;
  }
}

.share-stats strong {
  display: inline;
  margin-left: 3px;
  vertical-align: 3px;
  font-size: 14px
}

.inline-share-stats a {
  color: $statsGray;
  font-size: 10px;
  &:first-child {
    margin-top: 2px;
    border-left: none;
    line-height: 4px;
    margin-right: -10px;
  }
}

.inline-share-reply {
  display: block;
  padding-top: 5px;
}

.inline-share-stats li {
  display: inline-block;
}

// feed item reply container

.inline-container,
.modal-form {
  padding: 10px 0 3px 0;
  float: left;
  display: block;
}

.inline-container form,
.modal-form form {
  margin: -15px -11px -10px;
  padding: 5px;
}

.inline-container form textarea,
.modal-form form textarea {
  color: $textGrayLighter;
  font-size: 13px;
  line-height: 18px;
  height: 38px !important;
  width: 350px;
  padding: 9px;
  @include inline-container;
}

.inline-container form.active textarea,
.no-js .inline-container form textarea {
  height: 78px !important;
  color: $textGrayLight;
  font-size: 14px;
  line-height: 18px;
}

.inline-container form.active input,
.no-js .inline-container form input {
  display: block;
  margin-bottom: 8px;
}

.inline-container form input {
  display: none;
}

// typeahead overrides

.typeahead {
  width: auto !important;
  text-shadow: none !important;
}

.typeahead img {
  margin-right: 8px !important;
  @include gravatars;
}

.typeahead .mention_name,
.typeahead .mention_username {
  display: inline !important;
}

.typeahead .mention_username {
  color: $grayLight !important;
}

.typeahead .mention_username > strong {
  color: darken($grayLight, 5%) !important;
  font-weight: 700 !important;
}

// modal overrides

.modal-form form textarea {
  color: $textGrayLight;
  font-size: 14px;
  height: 78px !important;
}

.modal-form form input {
  display: block;
  margin-bottom: 8px;
}

.modal {
  @include background-clip(padding-box);
  @include box-shadow(none);
  background: none repeat scroll 0% 0% transparent;
  overflow: visible;
  border: 0;
  outline: none;
}

.modal-content {
  position: relative;
  background-color: $white;
  @include modal;
}

.modal-header {
  cursor: default;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $userBorder;
  border-bottom: 1px solid $borderDarker;
  @include modal-header;
}

.modal-header .modal-title {
  cursor: move;
  width: 75%;
  margin: 0px auto;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  text-shadow: 0px -1px 0px $white;
}

#likes {
  cursor: default;
  background-color: $mainGray;
  border-top: 1px solid $borderDarker;
  min-height: 40px;
  a {
    margin-top: 10px;
  }
  strong {
    font-size: 16px;
  }
  .gravatar {
    opacity: .8;
    &:hover {
      opacity: 1;
    }
  }
  &:hover {
    background-color: $userBorder;
    strong {
      color: $red;
    }
  }
}

.modal-body {
  background-color: $white;
  cursor: pointer;
  overflow: hidden;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: .4;
}

.modal-header button.close {
  margin-top: -2px;
}

.modal-body:hover {
  background-color: $wellGray;
}

.username_modal {
  display: block;
}

.modal-footer {
  cursor: move;
}

.users_modal {
  margin: -.5em 0 -.8em;
}

.users_modal li:hover {
  background-color: $outterBody;
}

.modal_stats {
  margin-bottom: -10px;
}

.modal_likes {
  font-size: 16px;
}

#modal_list {
  float: right;
}

// users#show

.photo {
  margin-right: 15px;
  margin-top: 2px;
  position: relative;
  float: left;
}

.tapetwo:before,
.tapetwo:after,
.tapethree:before,
.tapethree:after {
  content: "";
  height: 20px;
  width: 80px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0 ,0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.tapetwo:after {
  top: 100%;
  left: 50%;
  margin: -8px 0 0 -40px;
}

.tapethree:before {
  top: 0px;
  left: 0%;
  margin: 0 0 0 -25px;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.tapethree:after {
  top: 0px;
  left: 100%;
  margin: 0 0 0 -55px;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  transform: rotate(40deg);
}

.profile {
  @include profiles;
}

.profile,
.microposts-profile {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  line-height: 16px;
}

.profile-header {
  background-color: $moduleGray;
  padding: 12px;
  line-height: 16px;
  @include profile-header;
}

.profile-header .gravatar {
  margin-bottom: 3px;
}

.profile-inner {
  line-height: 16px;
  float: left;
  width: 54%;
  margin: 0 0 0 12px;
  h2 {
    font-weight: 400;
    line-height: 18px;
    color: $grayLarge;
    margin-bottom: 8px;
  }
}

.bio,
.title {
  margin-bottom: 0px;
  line-height: 18px;
  font-size: 13px;
  font-style: italic;
  color: $grayLarge;
}

.location {
  display: block;
  line-height: 18px;
  margin-top: 5px;
  font-size: 13px;
  color: $grayLarge;
}

// user profile stats

.actions {
  position: relative;
  float: right;
  line-height: 16px;
}

.actions .stats {
  max-height: 300px;
  overflow: hidden;
  margin-right: 10px;
}

.actions .stats a {
  float: none;
  display: block;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: $border;
  color: $statsGray;
  font-size: 11px;
  line-height: 16px;
  text-transform: uppercase;
  &:hover {
    color: $linkColor;
  }
}

.actions .stats a strong {
  color: $textGray;
  font-size: 14px;
}

.actions .stats li {
  display: inline;
  line-height: 16px;
}

.actions .stats li a {
  padding: 6px 12px 6px 0px;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: $border
}

.actions .stats:first-child a {
  border-left: none;
}

.actions .stats a:hover strong {
  color: $linkColor;
}

.actions .stats strong {
  display: inline;
}

.actions .stats li:first-child a {
  border-top: none;
}

.actions .stats li:last-child a {
  padding-bottom: 0px;
}

.nav-tabs {
  margin-bottom:0;
}

.nav-tabs > .active > a {
  background-color: $innerBody;
}

// pages#about

.about-page {
  cursor: default;
}

.about-page p {
  line-height: 24px;
  text-indent: 1.6em;
}

.about-page h2 {
  margin-bottom: 10px;
}

.quote {
  margin-top: 1em;
  border: 1px dashed $quotesBorder;
  padding: 1em 1em .5em 2em;
  p {
    line-height: 21px;
    text-indent: 0;
  }
}

.quote blockquote li:last-child {
  margin-bottom: -18px;
}

// users#captchas

.captcha-page .lead {
  margin-bottom: .5em;
}

.captcha-page .span7 {
  float: right;
}

.captcha-page .span5 {
  float: left;
}

.captcha-page form {
  margin-top: 10px;
}

#cp {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 14px;
  background-color: $wellGray;
}

.captcha {
  margin-top: -15px;
  overflow-y: auto;
  max-height: 380px;
}

.captcha li {
  line-height: 21px;
  padding: 1px;
  &:first-child {
    background-color: $innerBody;
    margin-top: 10px;
  }
  &:last-child {
    background-color: $innerBody;
    border-bottom: none;
  }
}

.captcha a {
  color: $green;
  font-size: 13px;
    &:hover {
    padding: 1px;
    background-color: $green;
    color: white;
    text-decoration: none;
    text-shadow: 0px 1px 0px $grayLarge;
    border-radius: 3px;
  }
}

.captcha .bio {
  border-top: 1px solid $border;
  padding-top: 3px;
  margin-bottom: -3px;
  &:first-child {
    border: none;
  }
}

.captcha-form textarea {
  height: 81px !important;
  @include inline-container;
}

.captcha .content {
  font-size: 15px;
}

.captcha p {
  margin: 0;
}

// microposts#show

.microposts-profile {
  @include microposts;
}

.microposts-header {
  padding: 1.5em 3.5em .5em 2em
}

.microposts-photo {
  float: none;
  margin: 2.5em 7em;
}

.microposts-inner {
  width: 100%;
  strong {
    font-size: 20px;
    margin-left: 5px;
  }
  li {
    text-shadow: 0px -1px 0px $black;
  }
}

.profile-inner .content {
  margin-left: 58px;
  padding-bottom: 5px;
}

.profile-inner p {
  font-size: 22px;
  line-height: 28px;
}

// users#chatroom

.chat_container_text {
  padding: 10px 0 1px 10px;
  background-color: $wellGray;
  border-top: 1px solid $border;
  height: auto;
}

.chat_container {
  margin: 0 auto;
  padding: 12px;
  border: 1px solid $moduleBorder;
  border-top: none;
  background-color: $innerBody;
  @include footer;
  @include shadows;
}

.chat_container_text {
  margin: 0px -12px -12px;
  border-radius: 0px 0px 6px 6px;
  background-color: $wellGray;
}

.chat_container .room p strong {
  color: red;
  font-size: 14px;
}

.chat_container .room {
  margin-top: -15px;
  padding-right: 10px;
  p {
    margin-left: 50px;
    padding: 0 0 5px;
    font-size: 13px;
    margin-bottom: -8px
  }
}

.chat_container_text form {
  width: 69%;
  margin-top: -12px;
}

#chat_room, #new_chat {
  overflow-y: auto;
  overflow-x: hidden;
  height: 355px;
}

.chat_container .room:first-child {
  margin-top: 0;
}

.chat_container_text form input {
  margin: 15px 0px -10px 82px;
}

.chat_avatars {
  padding: 0px 10px 10px;
}

.chat-header {
  border: none;
}

// users#blog(s)

.blogs .lead {
  font-weight: bold;
}

.blog-wrapper {
  cursor: default;
  box-shadow: none;
  background: none;
}

hr#comments + .lead, .blog-wrapper ul.comments {
  margin-top: -15px;
}

.title {
  font-size: 26px;
  margin-bottom: .8em;
}

.entry {
  font-size: 16px;
  padding: 4px;
}

.blog-actions {
  display: inline-block;
  li {
    display: inline;
  }
}

.blogs img,
.photos img,
.blog-container {
  width: 120px;
  height: 120px;
  border: 1px solid $inputBorder;
  @include gravatars;
}

.photos img,
.blog-container {
  width: 148px;
  height: 148px;
}

.blog-container, .format img {
  display: inline-block;
  padding: 10px;
  margin: 2em 0 10px 10px;
  background-color: $white;
  border: 1px solid gray;
}

.well-footer-blog {
  margin-bottom: 0px;
}

.tags {
  margin-top: 14em;
}

// blog formatting

.wysihtml5-toolbar {
  margin-bottom: 10px;
  text-align: center;
  li {
    display: inline;
    margin-left: 10px;
  }
}

.user_info {
  padding-left: 3em;
}

.format {
  margin-bottom: .4em;
  line-height: 24px;
}

.format h1 {
  font-size: 3em;
  margin-bottom: 30px;
  color: $grayDarker;
}

.format h2 {
  font-size: 2.2em;
  margin-bottom: 30px;
  font-weight: normal;
  color: $grayDark;
}

.format h3 {
  font-size: 1.6em;
  margin-bottom: 30px;
  font-weight: normal;
}

.format ol li {
  list-style: decimal;
}

.format ul li {
  list-style: square;
}

.format li {
  margin-left: 2.5em;
}

.format p {
  text-indent: 2em;
}

// comment styles

.comments {
  margin: 10px 0;
  li {
    padding: 10px 0;
    border-top: none;
    border-bottom: 1px solid $border;
  }
}

// various different icons

.well-footer [class^="icon-comment"] {
  margin-right: 2px;
  margin-left: 3px;
  vertical-align: -3px;
}

[class^="icon-heart"] {
  margin-left: 3px;
  vertical-align: 3px;
}

[class^="icon-thumbs-up"] {
  margin-left: 3px;
  vertical-align: 2px;
}

[class^="icon-globe"] {
  margin-left: 10px;
  vertical-align: -3px;
}

[class^="icon-camera"] {
  margin-left: 12px;
}

[class^="icon-remove"] {
  vertical-align: 3px;
}

[class^="icon-map-marker"] {
  vertical-align: -3px;
}

[class^="icon-pencil"] {
  margin-right: 5px;
}

#comment-bar {
  margin-left: 12px;
  margin-top: 1px;
}

// alert messages

#alert-notice {
  padding-right: 0;
  padding-left: 0;
}

.js #js-warning {
  display: none !important;
}

#error_explanation {
  color: $red;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

#inline {
  margin-left: -10px;
  margin-bottom: 5px;
}

#alert-inline {
  padding-right: 10px;
  padding-left: 10px;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}

// debugging for development

.debug_dump {
  clear: both;
  width: 100%;
  margin-top: 3em;
  @include forms;
}

// Certain Styles Taken from HTML5BOILERPLATE Project

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

::-moz-selection {
  background: rgb(217, 237, 247);
  text-shadow: none;
}

::selection {
  background: rgb(217, 237, 247);
  text-shadow: none;
}

/* ==========================================================================
Print styles.
Inlined to avoid required HTTP connection: h5bp.com/r
========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  .navbar {
    display: none !important;
  }

  .blog-wrapper #blog_tags,
  .blog-wrapper #blog_comments {
    display: none !important;
  }

  .tags {
    margin-top: 1em;
  }

  a[href]:after {
    content: "";
  }

  abbr[title]:after {
    content: "";
  }

 /*
  * Don't show links for images, or javascript/internal links
  */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
