@import "bootstrap";
@import "mixins";

/* global configurations */

html {
  overflow-y: scroll;
}

html, body {
  height: 100%
}

body, input, textarea, select, .uneditable-input {
  font-family: "Helvetica Neue", Arial, sans-serif;
}

body { 
  font-size: 14px;
  line-height: 18px;
  padding-top: 54px;
  background-color: $outterBody;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $inputBorder;
  width: 100%;
  padding: 10px;
  height: auto !important;
  margin-bottom: 10px;
  display: inline-block;
  resize: none;
  @include forms;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  color: #333;
  text-rendering: optimizeLegibility
}

h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 1
}

h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 20px
}

h2 small {
  font-size: 12px;
  font-weight: normal;
  color: #999
}

h3 {
  font-size: 14px;
  font-weight: normal;
  line-height: 1
}

h4 {
  font-size: 12px;
  line-height: 18px
}

h5, h6 {
  font-size: 10px
}

p {
  margin: 0
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

small {
  font-size: 12px
}

footer {
  clear: both;
  min-height: 35px;
  margin: auto;
  padding: 1.5em 1em 0px;
  width: 837px;
  border: 1px solid $mainGray;
  color: $grayLight;
  @include footer;
}

footer a {
  color: $gray;
  &:hover {
    color: $grayDarker;
  }
}

aside {
  section {
    border-top: 1px solid $border;
    padding: 10px 0;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
  }
}

/* Page Layout */

.page-wrapper {
  background-color: $innerBody;
  border: 1px solid $mainGray;
  position: relative;
  width: 837px;
  min-height: 100%;
  margin: -1em auto;
  padding: 1.5em 1em 2em;
}

.navbar-inverse {
  @include navbar;
  .container {
    width: 890px;
  }
}

.navbar .gravatar {
  @include hero;
}

.navbar-inner li:first-child a {
  margin: 0px auto;
}

.login-home form {
  margin-top: 1px;
  margin-right: 1em;
  float: right;
  display: inline-block;
  margin-bottom: 0;
  input {
    display: inline-block;
  }
}

.close {
  padding: 8px 14px;
}

/* Home Page (Non Signed in Users) */

.center {
  text-align: center;
}

.hero-unit {
  padding: 30px;
  margin-bottom: 15px;
  background-color: $wellGray;
  @include hero;
  h1 {
    letter-spacing: -2px;
    font-size: 75px;
  }
  h3 {
    font-size: 18px;
    letter-spacing: 3px;
  }
  h5 {
    font-size: 12px;
    letter-spacing: 1px;
  }
  .btn {
  margin-top: 5px;
  margin-bottom: 10px;
  }
}

/* Mini-Profile Module */

.side-module {
  float: left;
  width: 278px;
  border: 1px solid $moduleBorder;
  @include modules; @include shadows;
}

.side-menu {
  line-height: 16px;
}

.side-menu .stats {
  background: none;
}

.side-content {
  padding: 12px 0px 0 12px;
}

.profile-name {
  font-size: 14px;
}

.share-anchor {
  min-height: 32px;
  display: block;
  text-decoration: none;
  color: #454545;
  cursor: pointer;
}

.profile-anchor {
  color: $grayLight;
  padding-top: 1px;
  font-size: 11px;
  margin-left: 1px;
}

.share-anchor:hover {
  text-decoration: none;
  color: #454545;
}

.share-anchor:hover .profile-anchor {
  color: $blue;
}

.item-anchor, .item-anchor:hover {
  color: $textGray;
  text-decoration: none;
}

.side-module-share {
  line-height: 1;
  padding: 10px 0 1px 10px;
  background-color: $moduleGray;
  border-top: 1px solid $moduleBorder;
  height: auto;
}

.side-module-share form {
  line-height: 18px;
  margin-bottom: 0;
}

.side-module-share form.active textarea {
  height: 78px !important;
  color: $textGrayLight;
  font-size: 14px;
}

.side-module-share form input {
  display: none;
}

.side-module-share form.active input {
  display: block;
  margin-bottom: 7px;
  margin-top: -1px;
}

.side-module-share textarea {
  color: $textGrayLighter;
  font-size: 13px;
  height: 34px !important;
  width: 258px;
  padding: 6px 8px 0;
  @include inline-container;
}

.mini-profile {
  font-size: 12px;
  margin-bottom: 45px;
  line-height: 16px;
}

.share-container {
  width: 542px;
  margin-left: 295px;
  height: 100%;
}

/* User Stats (Following, Shares etc) */

.stats, .share-stats {
  padding-left: 12px;
  background: none;
  overflow: auto;
  a {
    font-size: 11px;
    float: left;
    padding: 0 10px;
    border-left: 1px solid $grayLighter;
    color: gray;
    line-height: 16px;
    text-transform: uppercase;
    &:first-child {
      padding-left: 0;
      padding-right: 10px;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: $blue;
    }
  }
  strong {
    display: block;
    color: $textGray;
    font-size: 14px;
  }
}

.stats a:hover strong {
  color: $blue;
}

.gravatar {
  float: left;
  margin-right: 10px;
  @include gravatars;
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
}

.users, .users_modal {
  margin: 0px -14px;
  li {
    overflow: auto;
    padding: 10px 14px;
    border-top: 1px solid $userBorder;
    &:last-child {
      border-bottom: 1px solid $userBorder;
    }
    &:nth-child(2n+1) {
      background-color: $moduleGray;
    }
  }
}

/* Temporary for May :) */

.well-inner-header #thole a, .users #thole a:first-child {
    color: $pink;
}

.users #thole a:first-child {
  text-shadow: 0px 0px 3px $white;
  font-weight: bold;
}

.users #thole .username_modal {
  color: $peach;
  text-shadow: 0px 0px 1px $white;
}

.users #thole {
  background-color: $pinkBackground;
  border-color: $pinkBorder;
}

/* Share Items with Modal Config */

.well-header, .well-bottom {
  border: 1px solid $mainGray;
  @include shadows;
}

.well-header {
  color: #555;
  text-align: right;
  font-weight: bold;
  padding: 8px;
  min-height: 17px;
  border-bottom-width: 0;
  @include well-header;
}

.well {
  background-color: $innerBody;
  border: 1px solid $border;
  margin: 0;
  padding: 12px 10px;
  cursor: pointer;
  border-top-width: 0;
  @include well;
}

.well-bottom {
  border: 1px solid $mainGray;
  padding: 10px;
  min-height: 7px;
  border-top-width: 0;
  @include well-bottom;
}

.well:first-child {
  border-top: 1px solid $innerBody;
}

.well-inner {
  cursor: pointer;
}

.well-inner .gravatar, .modal_header .gravatar {
  height: 48px;
  width: 48px;
}

.well-inner-header, .modal_header {
  line-height: 11px;
  margin-bottom: 4px;
  .user {
    font-weight: bold;
  }
  .username {
    font-size: 13px;
    color: $grayLight;
    font-weight: normal;
  }
  .timestamp {
    font-size: 13px;
    color: $timestamp;
    float: right;
    font-weight: normal;
  }
}

.well-inner-header #naathyn a {
  color: $green;
}

.well-inner .content, .modal_content .content {
  display: block;
  line-height: 19px;
  margin-left: 58px;
  word-wrap: break-word;
}

.well-footer {
  font-size: 13px;
  margin-left: 58px;
  margin-bottom: -10px;
}

.well-footer .collapse {
  padding-top: 5px;
  padding-left: 10px;
  margin-bottom: -3px;
  margin-top: -6px;
}

.well-footer form {
  display: inline-block;
  margin-bottom: -5px;
}

.well-footer-empty {
  margin-top: 15px;
}

.well:hover {
  background-color: $wellGray;
}

.well:hover:active {
  background-color: $mainGray;
}

.well:hover .timestamp {
  color: $blue;
}

.well:hover .well-footer li, .modal-body:hover .well-footer li {
  opacity: 100;
}

.well:hover .well-footer a, .modal-body:hover .well-footer a {
  color: $blue;
}

.well-inner:hover strong {
  color: $red;
}

/* Share Item Hover Links */

.share-actions {
  display: inline-block;
}

.detach {
  margin-right: 3px;
}

.shown {
  color: $grayLight;
  vertical-align: 5px;
}

.share-actions a {
  display: inline;
}

.share-actions li {
  display: inline-block;
  opacity: 0;
}

.share-actions .btn-link {
  color: $blue;
  vertical-align: 5px;
  padding: 0;
  font-size: 13px;
  &:hover {
    text-decoration: underline;
  }
}

/* Share Item Likes Stats */

.share-stats {
  float: right;
}

.share-stats a {
  border-left: none;
  padding-left: 0px;
  &:first-child {
    border-left: 1px solid $grayLighter;
  }
}

.share-stats strong {
  display: inline-block;
  margin-top: 1px;
  font-size: 14px
}

.inline-share-stats {
  display: inline-block;
}

.inline-share-stats a {
  color: $statsGray;
  font-size: 10px;
  text-transform: uppercase;
  &:first-child {
    margin-top: 2px;
    border-left: none;
    line-height: 4px;
    margin-right: -3px;
  }
}

.inline-share-stats li {
  display: inline;
}

.inline-share-stats li:first-child a {
  margin-top: 1px;
}

.inline-share-reply {
  display: block;
}

/* Share Item Reply Container and Modal Config */

.inline-container, .modal-form {
  padding: 10px 0 3px 0;
  float: left;
  display: block;
}

.inline-container form, .modal-form form {
  margin: -15px -11px -10px;
  padding: 5px;
}

.inline-container form input {
  display: none;
}

.inline-container form textarea, .modal-form form textarea {
  color: $textGrayLighter;
  font-size: 13px;
  line-height: 18px;
  height: 38px !important;
  width: 350px;
  padding: 9px;
  @include inline-container;
}

.inline-container form.active textarea {
  height: 78px !important;
  color: $textGrayLight;
  font-size: 14px;
  line-height: 18px;
}

.inline-container form.active input {
  display: block;
  margin-bottom: 8px;
}

.modal-form form textarea {
  color: $textGrayLight;
  font-size: 14px;
  height: 78px !important;
}

.modal-form form input {
  display: block;
  margin-bottom: 8px;
}

/* Modal */

.users_modal {
  margin-top: -15px;
  li {
    margin: 0px -14px;
    padding-left: 28px;
    border-top: 1px solid $borderDarker;
    border-bottom: 1px solid $borderDarker;
    &:first-child {
      border: 0px;
    }
    &:last-child {
      border-bottom: 0px;
      margin-bottom: -15px;
    }
    &:nth-child(even) {
      background-color: $mainGray;
    }
  }
}

.username_modal {
  display: block;
}

.modal-body .gravatar {
  size: 48px;
}

.modal-header button.close {
  margin-top: -2px;
}

.modal-header {
  cursor: default;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $userBorder;
  border-bottom: 1px solid $borderDarker;
  @include modal-header;
}

.modal_stats {
  margin-bottom: -10px;
}

.modal-header .modal-title {
  width: 75%;
  margin: 0px auto;
  font-weight: bold;
  line-height: 18px;
  text-align: center;
  text-shadow: 0px 1px 0px $white;
}

.modal-footer, #likes {
  cursor: default;
}

#likes {
  background-color: $userBorder;
  border-top: 1px solid $borderDarker;
}

.modal-content {
  cursor: pointer;
  position: relative;
  background-color: $white;
  @include modal;
}

.modal-body {
  overflow: hidden;
}

.modal-body:hover {
  background-color: $moduleGray;
}

.modal-body:hover:active {
  background-color: $modalActive;
}

/* included in the users#show controller */

.photo {
  margin-right: 15px;
  margin-top: 2px;
  position: relative;
  float: left;
}

.tapetwo:before, .tapetwo:after, .tapethree:before, .tapethree:after {
  content: "";
  height: 20px;
  width: 80px;
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0 ,0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.tapetwo:after {
  top: 100%;
  left: 50%;
  margin: -8px 0 0 -40px;
}

.tapethree:before {
  top: 0px;
  left: 0%;
  margin: 0 0 0 -25px;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.tapethree:after {
  top: 0px;
  left: 100%;
  margin: 0 0 0 -55px;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  transform: rotate(40deg);
}

.profile {
  text-shadow: 0px 1px 0px $white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  line-height: 16px;
  @include profiles;
}

.profile-header {
  background-color: $moduleGray;
  padding: 12px;
  line-height: 16px;
  @include profile-header;
}

.profile-inner {
  line-height: 16px;
  float: left;
  width: 50%;
  margin: 0 0 0 12px;
  h2 {
    text-align: left;
    letter-spacing: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    color: $grayLarge;
    margin-bottom: 5px;
  }
}

.name {
  direction: ltr;
  .fullname {
    letter-spacing: 0;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 2px;
    font-weight: bold;
    color: $textGray;
    }
}

.bio {
  max-width: 420px;
  font: italic 14px/18px Georgia, "Times New Roman", serif;
  color: $grayLarge;
  word-wrap: break-word;
  padding-bottom:7px;
}

.location {
  font-size: 12px;
  line-height: 18px;
  color: $grayLarge;
}

/* User Profile Stats */

.actions {
  position: relative;
  float: right;
  line-height: 16px;
}

.actions .stats {
  max-height: 300px;
  overflow: hidden;
}

.actions .stats strong {
  display: inline;
}

.actions .stats a {
  float: none;
  display: block;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: $border;
  color: $statsGray;
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  &:hover {
    color: $blue;
  }
}

.actions .stats:first-child a {
  border-left: 0px none;
}

.actions .stats a strong {
  color: $textGray;
  font-size: 14px;
}

.actions .stats a:hover strong {
  color: $blue;
}

.actions .stats li {
  display: inline;
  line-height: 16px;
}

.actions .stats li a {
  padding: 6px 12px 6px 0px;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: $border
}

.actions .stats li:first-child a {
  border-top: 0px none;
}

/* included in static_pages/about#show */

.quote {
  border: 1px dashed $quotesBorder;
  padding: 1em;
}

.quote blockquote li:last-child {
  margin-bottom: -18px;
}

/* various different icons */

[class^="icon-comment"], [class*=" icon-comment"] {
  margin-right: 5px;
  margin-left: 1px;
}

[class^="icon-remove"], [class*=" icon-remove"] {
  vertical-align: 2px;
}

[class^="icon-heart"], [class*=" icon-heart"], [class^="icon-thumbs-up"], [class*=" icon-thumbs-up"] {
  vertical-align: 2px;
  margin-left: 3px;
}

/* alert messages */

#alert-notice {
  padding-right: 0;
  padding-left: 0;
}

#error_explanation {
  color:#f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

#inline {
  margin-left: -10px;
  margin-bottom: 5px;
}

#alert-inline {
  padding-right: 10px;
  padding-left: 10px;
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}
