@import "colours";

@mixin fades {
  @include transition(opacity 0.8s ease-in-out);
}

@mixin transitions {
  @include transition(all 0.4s ease-in-out);
}

@mixin forms {
  @include border-radius(0px 0px 4px 4px);
  @include box-shadow(inset 0px 4px 8px rgba(0, 0, 0, 0.05));
}

@mixin navbar {
  @include box-shadow(0px 3px 6px rgba(0, 0, 0, .15));
}

@mixin hero {
  @include border-radius(10px);
}

@mixin shadows {
  @include box-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
}

@mixin modules {
  @include border-radius(6px);
}

@mixin modules-bot {
  @include border-radius(0px 0px 6px 6px);
}

@mixin inline-container {
  @include border-radius(4px);
}

@mixin imageRendering {
  image-rendering: -moz-crisp-edges;
  image-rendering:   -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  -ms-interpolation-mode: nearest-neighbor;
}

@mixin gravatars {
  @include border-radius(5px);
}

@mixin well-header {
  @include grads;
  @include shadows;
  @include border-radius(5px 5px 0px 0px);
}

@mixin well-bottom {
  @include grads;
  @include shadows;
  @include border-radius(0px 0px 5px 5px);
}

@mixin well {
  @include border-radius(0px);
  @include box-shadow(0px 6px 6px rgba(0, 0, 0, 0.1));
}

@mixin modal-header {
  @include border-radius(6px 6px 0px 0px);
  @include box-shadow(inset 0px 1px 0px $white);
}

@mixin modal {
  @include modules;
  @include box-shadow(0px 4px 12px rgba(0, 0, 0, 0.4));
}

@mixin profiles {
  @include modules;
  @include box-shadow(0px 1px 6px rgba(0, 0, 0, 0.1));
}

@mixin microposts {
  @include modules;
  @include box-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
}

@mixin grads {
  @include gradient-vertical($startColor: $white, $endColor: $wellGray);
}

@mixin profile-header {
  @include gravatars;
  @include gradient-vertical($startColor: $white, $endColor: $outterBody);
}

@mixin footer {
  @include gradient-vertical($startColor: $white, $endColor: $mainGray);
}
