/* This file is included in the users#show controller */

@import "mixins_profile";

.photo {
  margin-right: 15px;
  margin-top: 2px;
  position: relative;
  float: left;
}

.tapetwo:before, .tapetwo:after, .tapethree:before, .tapethree:after {
  content: "";
  height: 20px;
  width: 80px;
  background: rgba(255,255,255,0.5);
  position: absolute;
  -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}

.tapetwo:after {
  top: 100%;
  left: 50%;
  margin: -8px 0 0 -40px;
}

.tapethree:before {
  top: 0px;
  left: 0%;
  margin: 0 0 0 -25px;
  -webkit-transform: rotate(-40deg);
  -moz-transform: rotate(-40deg);
  transform: rotate(-40deg);
}

.tapethree:after {
  top: 0px;
  left: 100%;
  margin: 0 0 0 -55px;
  -webkit-transform: rotate(40deg);
  -moz-transform: rotate(40deg);
  transform: rotate(40deg);
}

.profile {
  text-shadow: 0px 1px 0px rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 15px;
  line-height: 16px;
  @include profiles;
}

.profile-header {
  background-color: rgb(246, 246, 246);
  padding: 12px;
  line-height: 16px;
  @include profile-header;
}

.profile-inner {
  line-height: 16px;
  float: left;
  width: 50%;
  margin: 0 0 0 12px;
  h2 {
    text-align: left;
    letter-spacing: 0;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    color: rgb(119, 119, 119);
    margin-bottom: 5px;
  }
}

.name {
  direction: ltr;
  .fullname {
    letter-spacing: 0;
    font-size: 30px;
    line-height: 1;
    margin-bottom: 2px;
    font-weight: bold;
    color: rgb(51, 51, 51);
    }
}

.bio {
  max-width: 420px;
  font: italic 14px/18px Georgia,"Times New Roman",serif;
  color: rgb(119, 119, 119);
  word-wrap: break-word;
  padding-bottom:7px;
}

.location {
  font-size: 12px;
  line-height: 18px;
  color: rgb(119, 119, 119);
}

/* User Profile Stats */

.actions {
  position: relative;
  float: right;
  line-height: 16px;
}

.actions .stats {
  max-height: 300px;
  overflow: hidden;
}

.actions .stats strong {
  display: inline;
}

.actions .stats a {
  float: none;
  display: block;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: rgb(232, 232, 232);
  color: rgb(153,153,153);
  font-size: 10px;
  line-height: 16px;
  text-transform: uppercase;
  &:hover {
    color: rgb(0, 136, 204);
  }
}

.actions .stats:first-child a {
  border-left: 0px none;
}

.actions .stats a strong {
  color: rgb(51,51,51);
  font-size: 14px;
}

.actions .stats a:hover strong {
  color: rgb(0, 136, 204);
}

.actions .stats li {
  display: inline;
  line-height: 16px;
}

.actions .stats li a {
  padding: 6px 12px 6px 0px;
  border-width: 1px 0px 0px;
  border-style: solid none none;
  border-color: rgb(232, 232, 232);
}

.actions .stats li:first-child a {
  border-top: 0px none;
}
