<small class="pull-left">
  <a href="https://github.com/naathyn/Ampersand/" alt="Ampersand's Development Files" target="_blank">A Social Outlet Project</a>
    by Nathan Couch
</small>
<small class="pull-right">
  Designed in 
  <a href="http://www.ruby-lang.org/" alt="The Official Ruby Programming Language" target="_blank">Ruby</a> -
  Launched from
  <a href="http://www.ubuntu.com/" alt="Ubuntu Linux" target="_blank">Linux</a> -
  Riding on 
  <a href="http://www.rubyonrails.org/" alt="Ruby on Rails" target="_blank">Rails</a>
</small>
