<small>
	<a href="https://github.com/naathyn/Ampersand/">A Social Outlet Project</a>
		by Nathan Couch
	</small>
		<div class="navbar pull-right">
		<small>
			Built on Linux - Designed in Ruby
		</small>
	</div>
<%= link_to image_tag("http://www.vc-tms.co.uk/vc/images/linux-logo_small.jpg", alt: "Linux Distros"), 'http://distrowatch.com' %>
