<nav class="pull-left">

  <%= link_to "A Social Outlet Project", 
  "https://github.com/naathyn/Ampersand/", 
  :alt => "Ampersand's Development Files", :target => "_blank" %>

    by Nathan Couch

</nav>

<nav class="nav pull-right">

  <small>

    Designed in 
      <%= link_to "Ruby", "http://www.ruby-lang.org/", :alt => 
      "The Official Ruby Programming Language", :target => "_blank" %> -

    Launched from
      <%= link_to "Linux", "http://www.ubuntu.com/", :alt => 
      "Ubuntu Linux", :target => "_blank" %> -

    Riding on 
      <%= link_to "Rails", "http://www.rubyonrails.org/", :alt => 
      "Ruby on Rails", :target => "_blank" %>

  </small>

</ul>
