<small class="pull-left">
  <a href="https://github.com/naathyn/Ampersand/">A Social Outlet Project</a>
    by Nathan Couch
</small>
<small class="pull-right">
  Designed in 
  <a href="http://www.ruby-lang.org/">Ruby</a> -
  Launched from
  <a href="http://www.ubuntu.com/">Linux</a> -
  Riding on 
  <a href="http://rubyonrails.org/Rails/">Rails</a>
</small>
