<footer class="footer">
  <small>
    <a href="https://github.com/socialrails/">A Social Outlet Project</a>
    by Nathan Couch
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://github.com/naathyn/">GitHub</a></li>
    </ul>
  </nav>
</footer>
