<small class="pull-left">
  <a href="https://github.com/naathyn/Ampersand/">A Social Outlet Project</a>
    by Nathan Couch
</small>
<small class="pull-right">
  Built on Linux - 
  Designed in 
  <a href="http://www.ruby-lang.org/">Ruby</a> - 
  Riding on 
  <a href="http://rubyonrails.org/Rails"> Rails</a>
</small>
