<small>
	<a href="https://github.com/naathyn/Ampersand/">A Social Outlet Project</a>
    by Nathan Couch
</small>
<div class="navbar pull-right"><small>Built on Linux with 100% free software</small></div>
<%= link_to image_tag("linux.jpg", alt: "Distrowatch"), 'http://distrowatch.com' %>
</div>
