<nav id="links" class="navbar nav navigation">
  <li class=""><%= link_to "Home", root_path %></li>
  <li class=""><%= link_to "Members", users_path %></li>
  <li class=""><%= link_to "About", about_path %></li>
</nav>

<%= render 'layouts/login' %>
