<ul id="links" class="nav navigation">
  <li class=""><%= link_to "Home", root_path %></li>
  <li class=""><%= link_to "Members", users_path %></li>
  <li class=""><%= link_to "About", about_path %></li>
</ul>

<div id="form_login" class="navbar-form pull-right" style="margin-bottom: -20px;">
  <%= render 'layouts/login' %>
</div>
