<% flash.each do |key, value| %>
  <% unless value.nil? %>
    <div class="page-fade container-fluid" id="alert-notice">
      <%= content_tag :div, value.html_safe, id: "flash_#{key}", class: "alert alert-#{key}" %>
    </div>
  <% end %>
<% end %>
